{% extends 'base.html' %}

{% block content %}

    <h1>New Blog Entry</h1>
    <form action="/newpost" method='POST'>
        <label>
            <span class="form_label">Blog Entry Title:</span>
            <input name="blog_title" type="text" value="{{post_title}}">
        </label>
        <p class="error">{{title_error}} &nbsp;</p>
        <label>
            <span class="form_label">New Blog:</span>
            <textarea name="blog_post" type="textarea" rows="20" cols="100">{{post_entry}}</textarea>
        </label>
        <p class="error">{{blog_entry_error}} &nbsp;</p>
        <input class="submit" type="submit" value="Add BLOG Entry"/>
    </form>

    {% endblock %}
    